<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>{% block title %}Bermuda Consultant{% endblock %}</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    


    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



    <!-- Theme CSS -->
    <link href="/static/css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i> 
                </button>
                <a class="navbar-brand" href="#page-top">Bermuda Consultant</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/">About</a>
                    </li>
              
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

{% endblock %}
    <!-- Header -->
    <header>
    {% block content%}
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/06/df/2a/c9.jpg" alt="" width="304"height="236">                                                    
                    <div class="intro-text">
                        <h3 class="name">Hey We are wlecome all the enquries</h4>
                        <hr class="star-light">
                        <span class="skills">Bermuda Consultant</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
     <section id="portfolio">
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Videos</h2>
                    <hr class="star-primary">
                </div>
            </div>
        <div class="row">
            
                <div class="col-sm-4 portfolio-item">
                    <iframe class="resp-iframe" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F101253227890638%2Fvideos%2F1570968389733296%2F&show_text=0&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                         </div>
                      </iframe>
                   </div>
            
                  <div class="col-sm-4 portfolio-item">
                    <iframe class="resp-iframe" src="https://www.youtube.com/embed/BaLyDpyhAeI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                    </iframe>
                </div>
            
                 <div class="col-sm-4 portfolio-item">
                    <iframe class="resp-iframe" src="https://www.youtube.com/embed/5fTmsIAC1aA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                    </iframe>
                </div>
            
             </div>
             
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Information</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="https://manulife-campaign.com.hk/redirect/tc/pa_consolidation/857/wechat?data=akjTCiEHeYdL6r1CtXdW%2FNX4rvT0czgGmNnSBkCebnQyVcZgSGcOtSgq4a51NVv9fq9rK0WRrE5SnN1FCkZIkg%3D%3D" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/static/img/portfolio/eb40b3cf-0bec-465d-bbf1-99aaadafbc51.jpg" target="_blank" class="img-responsive" alt="Chesstastic">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://epa.mpfa.org.hk/mpfa_web/index.html?fbclid=IwAR25ElFANdYKo-Eo6JEidnvZ-zvorZj53VSs_0J2g_g9OO5fpEqAZHwt1DE#?lang=tch" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://1.bp.blogspot.com/-uMNEiUlMmT4/Wxt4dpBfDrI/AAAAAAAArTE/kj5d3MkYvdsCr-MM7BVUDRm9YKSbZ0w6QCLcBGAs/s1600/MPF.jpg" class="img-responsive" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.facebook.com/%E5%AE%8F%E5%88%A9%E7%90%86%E8%B2%A1%E7%AD%96%E5%8A%83-%E7%99%BE%E5%8B%99%E9%81%94%E5%9C%98%E9%9A%8A-101253227890638/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://www.incimages.com/uploaded_files/image/970x450/getty_769729163_200013341653767170567_404088.jpg" class="img-responsive" alt="Circus tent">
                    </a>
                </div>      
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I love help people for solving their enquires!!</p>
                </div>
                <div class="col-lg-4">
                    <p>No hesitate to contact me!!</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

    {% block footer %}
    <!-- Footer -->
    <footer class="text-center">
    
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Kowloon,
                            <br>Hong Kong</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/%E5%AE%8F%E5%88%A9%E7%90%86%E8%B2%A1%E7%AD%96%E5%8A%83-%E7%99%BE%E5%8B%99%E9%81%94%E5%9C%98%E9%9A%8A-101253227890638/" target="_blank" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="/" class="btn-social btn-outline" target="_blank"><span class="sr-only">YouTube</span><i class="fa fa-fw fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="https://api.whatsapp.com/send?phone=85263588797&text=網上強積金整合咨詢" class="btn-social btn-outline" target="_blank"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-whatsapp"></i></a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Bermuda2020 edited on GitHub 
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>
 

</body>


</html>

   
